# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/

# Tests and analysis
.coverage
.coverage.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/

# Project output
.flowgraph/
result
uv.lock
